/*
Title: Fox & Bear Co.
Author: Kyle Scollin
URL: www.foxandbearco.com
*/

/* ===============================================================
Google Map
================================================================*/
#map {
	position: relative;
	overflow-y: hidden;
}
#overlay{
	position:absolute;
	top:0;
	left:0;    
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	z-index: 1;
}
#overlay img {
	width: 50px;
	height: 100px;
	position: relative;
	top: 160px;
}
#map_canvas {
	width: 100%;
	height: 500px;
}

/* ===============================================================
Order Form
================================================================*/
.anchor{
  display: block;
  height: 110px; /*same height as header*/
  margin-top: -110px; /*same height as header*/
  visibility: hidden;
}
@media (min-width: 768px) {
	.anchor {
		height: 135px;
		margin-top: -135px;
	}
}

@media (min-width: 992px) {
	.anchor {
		height: 155px;
		margin-top: -155px;
	}
}
.stark {
	background-color: #fff;
	padding: 6em 0 6em 0;
}

/* RESPONSIVE */

@media (min-width: 768px) {
	#orderform {
		width: 90%;
		margin: 3em auto;
	}
}

@media (min-width: 992px) {
	#orderform {
		width: 900px;
		margin: 3em auto;
		clear: both;
	}
}
.full {
	width: 100%;
	border-bottom: 1px solid #9a9a9a;
	border-right: 1px solid #9a9a9a;
	margin-top:40px;
	overflow: auto;
}
.numbers li {
	border-left: 1px solid #9a9a9a;
	border-top: 1px solid #9a9a9a;
	box-sizing: border-box;
	padding: 0.9em 4em 0.9em 0.9em;
	text-align: left;
	font-size: 15pt;
	position: relative;
}
.numbers input {
	position: absolute;
	float: right;
	top: 6px;
	right: 5px;
	width: 45px;
	height: 30px;
	text-align: center;
	border: 1px solid #c6c5c5;
	font-size: 15pt;
	outline: none;
}
.numbers li div {
	float: right;
}
.names input {
	border-right: 0px;
	border-bottom: 0px;
	border-left: 1px solid #9a9a9a;
	border-top: 1px solid #9a9a9a;
	box-sizing: border-box;
	text-align: left;
	width: 50%;
	padding: 0.9em;
	height: 60px;
	font-family: "HoeflerText-Roman", Georgia, serif;
	font-size: 14pt;
	float: left;
}
.empty {
	height: 56px;
}
.empty2 {
	display: none;
}
@media (min-width: 768px) {
	.numbers input {
		height: 35px;
		width: 50px;
	}
	.empty2 {
		display: block;
		border-left: 1px solid #9a9a9a;
		border-bottom: 1px solid #9a9a9a;
		border-right: 1px solid #9a9a9a;
		box-sizing: border-box;
		padding: 0.9em;
		height: 59px;
		width: 50%;
		float: left;
	}
}
.submitbutton {
	margin-top: 90px;
	width: 300px;
}
#formerrors {
	display: none;
	color: #2c2c2c;
	font-size: 14pt;
	width: 80%;
	margin: 40px auto;
	background: #f2f2f2 url(../images/alert.svg) 2% center no-repeat;
	background-size: 45px 45px;
	border: 1px solid #707070;
	padding: 1.3em;
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10pt;
}

/* ===============================================================
Contact Us
================================================================*/

#contactus {
	padding-top: 8em;
	background-color: #fff;
}

@media (min-width: 768px) {
	#contactus {
		padding-top: 13em;
	}
}

#contactus h4 {
	margin-top: 1.5em;
}
#contactus p {
	margin-top: 0.5em;
	line-height: 22pt;
}
#contactus img {
	margin-top: 2.5em;
	width: 80px;
	height: 80px;
}
#contactdetails {
	padding-bottom: 7em;
}
.detailsleft {
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	letter-spacing: 2px;
	width: 40%;
	box-sizing: border-box;
	padding: 2em 0em 0em 2em;
	float: left;
	text-align: right;
}
.detailsright {
	float: right;
	width: 60%;
	box-sizing: border-box;
	padding: 2em 0em 0em 2em;
	text-align: left;
	font-family: "HoeflerText-Roman", Georgia, serif;
	letter-spacing: 1px;
}
.detailsright a {
	text-decoration: none;
	color: #333333;
}
.full2 {
	width: 100%;
	margin-top:40px;
}
.full2 textarea {
	width: 100%;
	height: 400px;
	border: 1px solid #9a9a9a;
	box-sizing: border-box;
	resize: none;
	font-family: "HoeflerText-Roman", Georgia, serif;
	font-size: 14pt;
	padding: 1em;
}
