/* ===============================================================
General CSS Reset 
================================================================*/

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===============================================================
Master Page Structure & Style
================================================================*/
@font-face {
    font-family: 'BrandonBold';
    src: url('../fonts/Brandon_bld.otf');
}
@font-face {
    font-family: 'ClarendonLight';
    src: url('../fonts/ClarendonLTStd-Light.otf');
}

body {
	background-color: #fff;
	color: #231f20;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.0625em;
}

a {
	text-decoration: none;
}
a:hover div,
a:focus div {
	text-decoration: underline;
}

header,
footer {
	display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
h1 {
	color: white;
	text-align: center;
	font-family: 'ClarendonLight';
	font-size: 30px;
	line-height: 35px;
}
h2 {
	font-family: 'BrandonBold';
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 20px;
}
hr {
	width: 40px;
	background-color: #000;
	height: 1px;
	border: 0px;
	margin-bottom: 25px;
}

/* ===============================================================
Navigation
================================================================*/
#header {
	height: 40px;
	position: relative;
	margin: 70px auto 60px;
	padding: 30px 0 20px 0;
	font-family: 'BrandonBold';
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}
#header a {
	color: #231f20;
}
#header li {
	display: none;
}
#header ul a:hover,
#header ul a:focus {
	color: #8f8f8f;
	text-decoration: underline;
}
@media (min-width: 768px) {
	#header li {
		display: block;
		float: left;
		width: 20%;
	}
	#header ul li:nth-of-type(3) {
		margin-left: 19%;
	}
}

.logo {
	position: absolute;
	left: 50%;
	margin: -76px 0 0 -89px;
}
.logo img {
	height: 170px;
}
/* ===============================================================
Hero Section
================================================================*/
.hero {
	background-size: 100%;
	padding: 65px 0px 70px 0px;
	margin-bottom: 20px;
}
#herohome {
	background: url('../img/herohome_small.jpg') center center;
}
#heroabout {
	background: url('../img/heroabout_small.jpg') center center;
}
#herocontact {
	background: url('../img/herocontact_small.jpg') center center;
}
@media (min-width: 768px) {
	.hero {
		padding: 135px 0px 145px 0px;
	}
	#herohome {
		background: url('../img/herohome_large.jpg') center center;
	}
	#heroabout {
		background: url('../img/heroabout_large.jpg') center center;
	}
	#herocontact {
		background: url('../img/herocontact_large.jpg') center center;
	}
}
@media (min-width: 992px) {
	.hero {
		padding: 160px 0px 170px 0px;
	}
}
@media (min-width: 1200px) {
	.hero {
		padding: 195px 0px 205px 0px;
	}
}

/* ===============================================================
Product Gallery
================================================================*/

.row {
	margin-right: -15px;
	margin-left: -15px;
	clear: both;
	font-family: 'ClarendonLight';
	font-size: 20px;
	line-height: 25px;
}
.column-3 {
	position: relative;
	min-height: 1px;
	margin: 20px;
}
.column-3 img {
	width: 100%;
	margin-bottom: 18px;
}
@media (min-width: 768px) {
	.column-3 {
		float: left;
		width: 30%;
		margin: 20px 1.5% 20px 1.5%;
	}
}
.productname {
	float: left;
	width: 85%;
	color: #231f20;
}
.price {
	float: right;
	font-family: 'ClarendonLight';
	font-size: 16px;
	line-height: 27px;
	color: #fff;
	width: 45px;
	height: 25px;
	padding: 10px 0px 10px 0px;
	border-radius: 50%;
	text-align: center;
	background-color: #231f20;
}
.super {
	vertical-align: middle;
	font-size: 11px;
}

/* ===============================================================
Contact Us
================================================================*/
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
fieldset {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.shortfield {
	width: 90.6%;
	margin: 2%;
	float: center;
	height: 40px;
	padding: 12px 10px 5px 14px;
	font-family: 'ClarendonLight';
	font-size: 20px;
	line-height: 25px;
	display: inline-block;
	border: 1px solid #bbb;
}
@media (min-width: 768px) {
	.shortfield {
		width: 41.7%;
		margin: 1.5%;
	}
}
.longfield {
	width: 91%;
	margin: 2%;
	height: 200px;
	padding: 10px 10px 5px 14px;
	font-family: 'ClarendonLight';
	font-size: 20px;
	line-height: 25px;
	resize: none;
	border: 1px solid #bbb;
}
#submitbutton {
	background-color: #319569;
	width: 300px;
	height: 50px;
	padding-top: 6px;
	margin-bottom: 5px;
	font-family: 'BrandonBold';
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	border:  0px;
	color: #fff;
}
#submitbutton img {
	width: 21px;
	height: 21px;
	padding-bottom: 6px;
	margin-right: 15px;
	vertical-align: middle;
}
.redherring {
	display: none;
}
#alert {
	display: none;
	margin: 0 auto;
	width: 400px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
}
.error {
	color: #fff;
	background-color: #e64d43;
	height: 30px;
	padding-top: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* ===============================================================
Footer
================================================================*/
footer {
	background-size: 100%;
	background-color: #231f20;
	color: white;
	text-align: center;
	clear: both;
	margin-top: 30px;
}
footer hr{
	background-color: #fff;
}
footer a {
	color: #fff;
}
footer a:hover,
footer a:focus {
	color: #ddd;
	border-bottom: 1px solid #8f8f8f;
}
.column-2 {
	position: relative;
	line-height: 40px;
	margin: 0px 20px 0px 20px;
	padding: 30px 0px 30px 0px;
	font-family: 'ClarendonLight';
	font-size: 24px;
}
@media (min-width: 768px) {
	.column-2 {
		float: left;
		width: 50%;
		margin: 30px 0px 30px 0px;
		padding: 0px;
	}
}
#stroked {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #fff; 
}
@media (min-width: 768px) {
	#stroked {
		border-bottom: none;
		border-right: 1px solid #fff;
	}
}
.socialmedia {
	width: 75px;
	height: 75px;
	margin-top: 20px;
}
@media (min-width: 768px) {
	.socialmedia {
		width: 90px;
		height: 90px;
		margin-top: 20px;
	}
}
#legal {
	clear: both;
	width: 100%;
	font-size: 12px;
	margin-bottom: 30px;
}
