/*
Title: Fox & Bear Co.
Author: Kyle Scollin
URL: www.foxandbearco.com
*/

/* ===============================================================
Embedded Fonts
================================================================*/
@font-face {
	font-family: 'HoeflerText-Italic-SmallCaps';
	src: url('../fonts/HoeflerText-Italic-SmallCaps/HoeflerText-Roman-Alt.eot');
	src: url('../fonts/HoeflerText-Italic-SmallCaps/HoeflerText-Italic-SmallCaps.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HoeflerText-Italic-SmallCaps/HoeflerText-Italic-SmallCaps.otf')  format('opentype'),
	     url('../fonts/HoeflerText-Italic-SmallCaps/HoeflerText-Italic-SmallCaps.woff') format('woff'),
	     url('../fonts/HoeflerText-Italic-SmallCaps/HoeflerText-Italic-SmallCaps.ttf')  format('truetype'),
	     url('../fonts/HoeflerText-Italic-SmallCaps/HoeflerText-Italic-SmallCaps.svg#HoeflerText-Italic-SmallCaps') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HoeflerText-Roman-Alt';
	src: url('../fonts/HoeflerText-Roman-Alt/HoeflerText-Roman-Alt.eot');
	src: url('../fonts/HoeflerText-Roman-Alt/HoeflerText-Roman-Alt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HoeflerText-Roman-Alt/HoeflerText-Roman-Alt.otf')  format('opentype'),
	     url('../fonts/HoeflerText-Roman-Alt/HoeflerText-Roman-Alt.woff') format('woff'),
	     url('../fonts/HoeflerText-Roman-Alt/HoeflerText-Roman-Alt.ttf')  format('truetype'),
	     url('../fonts/HoeflerText-Roman-Alt/HoeflerText-Roman-Alt.svg#HoeflerText-Roman-Alt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HoeflerText-Roman';
	src: url('../fonts/HoeflerText-Roman/HoeflerText-Roman.eot');
	src: url('../fonts/HoeflerText-Roman/HoeflerText-Roman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HoeflerText-Roman/HoeflerText-Roman.otf')  format('opentype'),
	     url('../fonts/HoeflerText-Roman/HoeflerText-Roman.woff') format('woff'),
	     url('../fonts/HoeflerText-Roman/HoeflerText-Roman.ttf')  format('truetype'),
	     url('../fonts/HoeflerText-Roman/HoeflerText-Roman.svg#HoeflerText-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HoeflerText-Italic';
	src: url('../fonts/HoeflerText-Italic/HoeflerText-Italic.eot');
	src: url('../fonts/HoeflerText-Italic/HoeflerText-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HoeflerText-Italic/HoeflerText-Italic.otf')  format('opentype'),
	     url('../fonts/HoeflerText-Italic/HoeflerText-Italic.woff') format('woff'),
	     url('../fonts/HoeflerText-Italic/HoeflerText-Italic.ttf')  format('truetype'),
	     url('../fonts/HoeflerText-Italic/HoeflerText-Italic.svg#HoeflerText-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Medium';
	src: url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot');
	src: url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.otf')  format('opentype'),
    	 url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.woff') format('woff'),
    	 url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.ttf')  format('truetype'),
    	 url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ===============================================================
Master Page Structure & Style
================================================================*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0;
}
input {
	-webkit-appearance: none;
	border-radius: 0px;
}

h1,
h2,
h3,
h4 {
	font-family: "HoeflerText-Italic-SmallCaps", Georgia, serif;
}
h1 span {
	font-family: "HoeflerText-Roman-Alt", Georgia, serif;
}
h1,
h2,
h1 span {
	font-size: 28pt;
}
h3 {
	font-size: 24pt;
}
h4 {
	font-size: 20pt;
}
h5 {
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14pt;
}

section {
	clear: both;
	overflow: auto;
	text-align: center;
}
section header {
	margin: 0 auto 0 auto;
	width: 90%;
}
section p {
	font-family: "HoeflerText-Roman", Georgia, serif;
	font-size: 12pt;
	line-height: 1.5em;
	margin: 2em auto 0 auto;
	width: 90%;
}
section footer {
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14pt;
	margin: 2em auto;
	border: 1px solid;
	width: 250px;
	height: 3em;
	line-height: 3em;
	clear: both;
}
section footer a {
	text-decoration: none;
	color: #fff;
}
section footer input {
	border: 0px;
	background: none;
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14pt;
	width: 100%;
	height: 100%;
}

.halfleft,
.halfleft2 {
	width: 100%;
	clear: both;
}
.halfright {
	width: 100%;
}
.third {
	width: 100%;
	margin-top: 3em;
}



/* RESPONSIVE */

@media (min-width: 768px) {
	section header,
	section p {
		width: 70%;
	}
	h1,
	h2,
	h1 span {
		font-size: 36pt;
	}
	h3 {
		font-size: 28pt;
	}
	h4 {
		font-size: 20pt;
	}
	section p {
		font-size: 14pt;
		line-height: 2em;
		margin-top: 2em;
	}
	.halfleft,
	.halfleft2 {
		width: 50%;
		float: left;
		clear: none;
	}
	.halfright {
		width: 50%;
		margin-left: 50%;
	}
	.third {
		width: 33%;
		float: left;
		margin-top: 3em;
	}
}

@media (min-width: 992px) {
	section header,
	section p {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	section header,
	section p{
		width: 55%;
		max-width: 800px;
	}
}

/* ===============================================================
Navigation
================================================================*/
.head {
	background-color: #2c2c2c;
	height: 110px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
}
#logo {
	position: absolute;
	z-index: 1;
	top: 0.5em;
	left: 50%;
	margin-left: -115px;
	width: 230px;
}
#logo img {
	width: 150px;
}
#nav {
	display: none;
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	letter-spacing: 2px;
	position: absolute;
	top: 1.5em;
	left: 0;
	width: 100%;
	height: 5em;
}
#nav > ul {
	margin: 0;
}
#nav > ul > li {
	display: inline-block;
	margin: 0;
}
#nav > ul > li > a {
	color: #fff;
	text-decoration: none;
	padding: 0.3em 1em 0.3em 1em;
}
#nav > ul > li.break {
	margin-left: 18em;
}

/* RESPONSIVE */

@media (min-width: 768px) {
	.head {
		height: 135px;
		position: fixed;
		top: 0;
	}
	#logo img {
		width: 200px;
	}
	#nav {
		display: inline;
		line-height: 4em;
	}
	#nav > ul > li.break {
		margin-left: 12em;
	}
}

@media (min-width: 992px) {
	.head {
		height: 155px;
		position: fixed;
		top: 0;
	}
	#logo img {
		width: 230px;
	}
	#nav {
		line-height: 5em;
	}
	#nav > ul > li.break {
		margin-left: 16em;
	}
}

@media (min-width: 1200px) {
	#nav > ul > li {
		display: inline-block;
		margin: 0 2em 0 2em;
	}
}

/* ===============================================================
Mobile Navigation
================================================================*/

#mobilenav {
         position: fixed;
         top: 0;
         bottom: 0;
         width: 13.755em;
         right: -13.755em;
         height: 100%;
         -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: 0.15s ease;
        background-color: #2c2c2c;
        font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
		text-transform: uppercase;
		font-size: 14pt;
		letter-spacing: 2px;
}

#mobilenav a {
	color: #fff;
	text-decoration: none;
}

#mobilenav li {
	padding: 2em 0em 0em 4em;
}

#mobilenav.active {
        -webkit-transform: translate(-13.755em, 0px);
        -moz-transform: translate(-13.755em, 0px);
        -o-transform: translate(-13.755em, 0px);
        -ms-transform: translate(-13.755em, 0px);
        transform: translate(-13.755em, 0px);
}

.menu-link {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 25pt;
      color: #fff;
}

@media (min-width: 768px) {
	#mobilenav {
		display: none;
	}
	.menu-link {
		display: none;
	}
}

.container,
.head {
       -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
       -ms-transform: translate(0px, 0px);
       transform: translate(0px, 0px);
       -webkit-transition: 0.15s ease;
       -moz-transition: 0.15s ease;
       -o-transition: 0.15s ease;
       transition: 0.15s ease;  
}

.container.active,
.head.active {
       -webkit-transform: translate(-13.725em, 0px);
       -moz-transform: translate(-13.725em, 0px);
       -o-transform: translate(-13.725em, 0px);
       -ms-transform: translate(-13.725em, 0px);
       transform: translate(-13.725em, 0px);
}

/* ===============================================================
Footer
================================================================*/
.footer {
	background-color: #2c2c2c;
	color: #fff;
	padding-top: 1em;
	padding-bottom: 2em;
}
.footer ul {
	margin-top: 2em;
	font-family: "BrandonGrotesque-Medium", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	letter-spacing: 2px;
}
.footer ul li {
	margin: 1.5em;
}
.footer ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0.3em 1em 0.3em 1em;
}
.footer img {
	margin-top: 3em;
	width: 80px;
	height: 80px;
}
.footer h4 {
	margin-top: 1.5em;
}
.footer p {
	margin-top: 0.5em;
}
#legal {
	font-family: "HoeflerText-Roman", Georgia, serif;
	font-size: 8pt;
	color: #a4a4a4;
	clear: both;
	margin-top: 5em;
}