/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.hero {
	background: url('../img/placeholder.jpg'); 
	background-position: center top;
	background-size: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	color: white;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.hero {
		height: 0;
		padding-top: 16.559%;
		padding-bottom: 19.2%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.hero {
		height: 0;
		padding-top: 16.559%;
		padding-bottom: 19.2%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	.hero {
		height: 0;
		padding-top: 16.559%;
		padding-bottom: 19.2%;
	}

}